# comment
{
        email vortex@free2air.net
}

ns1.free2air.org, doh.zenr.io {
  reverse_proxy /dns-query* https://zenr.io:8443 {
    header_up Host {upstream_hostport}
    # transport http {
    #   tls_insecure_skip_verify
    # }
  }
  header {
    Access-Control-Allow-Headers *
    Access-Control-Allow-Methods *
    Access-Control-Allow-Origin *
  }
  @options {
    method OPTIONS
  }
  respond @options 204
}
